/* .bg-img {
  background-image: url("https://scontent.fzyl2-1.fna.fbcdn.net/v/t1.6435-9/121595414_209242543951503_387317870968098158_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG6ycjnZB6WfeohFG1ZghqEOVi7mYpvrp45WLuZim-unoOMTZ9T229SRnBmsXDVkZBB9hTD3qBu8VPJy9zYwn5E&_nc_ohc=nKO9VUrzrj8AX-bVR5y&tn=p3QVB-EGNvBkEbQ9&_nc_ht=scontent.fzyl2-1.fna&oh=fd34be8bea78b531884454055e9236e3&oe=61CD3425");
  background-repeat: no-repeat;
  background-size: 100% 25%;
} */
.bg-img {
  background-color: #374c4c;
}
/* CSS */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: black;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
